* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
    margin: 0;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

/* Body element */
body {
    scroll-behavior: initial;
    max-width: 100vw;
    font-size: 16px;
    text-rendering: optimizeSpeed;
    height: 100%;
    position: relative; 
    background: linear-gradient(55deg, #111 0%, #181818 100%);
}

/* Header */
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #fff;
}



/* General selection */
.selection {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    align-content: center;
    align-items: center;
}

/* Landing page */
.section-landing {
    font-size: clamp(0.5rem, 4vw, 3rem);
    display: grid;
    justify-content: center;
    align-items: center;
}
.landing {
    text-align: center;
    color: #fff; 
    margin: 0 auto;
    width: fit-content;
}
.text {
    padding-bottom: 10px;
    margin-top: 0;
}
.orange {
    background: linear-gradient(270deg, orange, orangered); 
    background-size: 400% 400%;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: flow 5s linear infinite;
}
.btn {
    font-size: 0.5em;
    text-decoration: none;
    border: 4px solid white;
    border-radius: 8px;
    padding: 5px 10px;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: border 0.5s, box-shadow 0.5s;
}
.btn:hover {
    box-shadow: 0 0 5px 2px orangered;
    border: 4px solid orangered;
}
.button {
    margin-bottom: 50px;
}
.social-media {
    margin: 0 auto;
}
.social-media ul{
    color: #fff;
    list-style-type: none;
    text-align: center;
    font-size: 0.6em;
}
.social-media li {
    display: inline;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 0px 6px;
    cursor: pointer;
    transition: border 0.5s, box-shadow 0.5s;
}
.social-media li:hover {
    box-shadow: 0 0 5px 5px orangered;
    border: 2px solid orangered;
}


/* About  */
.about {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    min-height: 50vh;
    justify-items: left;
}

/* Skills */
.skills {
    margin: 0 auto;
    width: fit-content; 
    text-align: center;
}
.skills-top {
    position: relative;
    padding-top: 50px;
    display: flex;
    flex-direction: row;  
    gap: 40px;
    width: 70vw;
    height: fit-content;
    
}

.part-skills {
    position: relative;
    height: 20vh;
    width: 20vw;
    border-radius: 15px;
    opacity: 1;
    background: #171717;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 10px 5px;


/* ::after properties */
    display: flex;
    justify-content: center;
    align-items: center;
}
.part-skills::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: inherit;
    padding: 3px; /* border-dikte */
    background: linear-gradient(180deg, grey);
    -webkit-mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 10px 5px;

}
.part-skills:hover {
    transform:translateY(-0.5rem);
}   
.part-skills:hover::before {
    background: linear-gradient(180deg, orange, orangered);
}

/* Experience/Education */
.timeline {
    margin: 0 auto;
    width: fit-content;
    height: 90vh;
    overflow-y: scroll;
    box-sizing: border-box;
    align-content: center;
    scrollbar-width: none;
}
.timeline ul {
    border-left: 2px solid gray;
    list-style: none; 
    padding-left: 0;
    margin-left: 20px;
}
.timeline li {
    position: relative;
    margin-left: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 50vw;
    padding: 20px;
    margin-bottom: 10px;
}
.timeline li:first-child {
    margin-top: 0px;
}
.timeline li:last-child {
    margin-bottom: 0px;
}
.timeline li::before {
    content: "";
    position: absolute;
    left: -30px;       /* positie van de cirkel */
    top: 20px;         /* verticaal gecentreerd met padding */
    width: 10px;
    height: 10px;
    background: white;
    border: 2px solid gray;
    border-radius: 50%;
}
.timeline h1 {
    text-align: center;
}
.years, .header {
    font-size: 1.2em;
    font-weight: bold;
}

/* Languague */
.languague {
    margin: 0 auto;
    width: 50vw;
    text-align: center;
    
}
.lang-item {
    margin-bottom: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}
.lang-item p {
    width: 7vw;
    margin: 0;
    text-align: left;
}

.progress {
    flex: 1;
    background-color: rgb(28, 30, 32);
    border-radius: 10px;
    height: 10px;
    overflow: hidden;
}

.progress-bar {
    background: linear-gradient(to right, orange, orangered) ;
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease;
}

/* Contact/Socials */
.Contact h1{
    text-align: center;
}
.container-formulier {
    max-width: 30vw;
    margin: 0px auto;
    background-color: transparent;
    border-radius: 12px;
}
.formulier-contact {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.formulier-contact-message {
    padding-top: 20px;
}
.input-field, .message {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}
button {
    width: 30vw;
    margin-top: 30px;
    padding: 10px 15px;
    background: linear-gradient(to right, orange, orangered);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.2s;
}

button:hover {
    opacity: 0.5;
}

.Rights {    
    position: absolute;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
    color: white;
    background-color: rgb(29, 28, 28);
    border-top: 1px solid gray;
}
.Rights p {
    height: fit-content;
    margin: 0 auto;
    width: 100vw;
    text-align: center;
    font-size: 0.8em;
    padding: 3px 0px;
}


/* Keyframes */
@keyframes flow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%;
    }
}