* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --tc: white;
    --tc-dark: black;
    --tc-lt: rgb(197, 197, 197);
    --ac: orange;
    --card-bg: #1b1b1f;
}

html,
body {
    scrollbar-width: none;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

/* Body element */
body {
    background: #0f0f13;
    max-width: 100vw;
}

.Header {
    display: flex;
    position: sticky;
    height: 7.5vh;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    z-index: 1;
    top: 0;
    backdrop-filter: blur(8px);
}

.logo {
    color: var(--ac) !important;
    display: flex;
    font-size: 150%;
    font-weight: 600;
    float: left;
    letter-spacing: 1px;
    transition: color 1s;
}

.logo:hover {
    color: var(--tc) !important;
}

.Header ul {
    display: flex;
    float: right;
    gap: 20px;
}

.Header li {
    list-style-type: none;
}

.Header a {
    text-decoration: none;
    color: var(--tc);
    transition: color 0.5s;
}

.Header a:hover {
    color: var(--ac);
}

.landing_page {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--tc);
}

.content_landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero_landing {
    display: flex;
    padding-top: 3vh;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    place-content: center;
    
}

.hero_sub_text {
    max-width: 30vw;
    color: var(--tc-lt);
    padding-top: 3vh;
}

@media (max-width: 600px){ .hero_sub_text {
    max-width: 70vw;
} 
}

.content_button {
    padding-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 600;
}

.content_button a {
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    border-radius: 50px;
    border: var(--ac), 2px, solid;
}

.content_get_in_touch {
    background-color: var(--ac);
    color: var(--tc-dark);
    transition: scale, ease-in-out, 0.5s;
}

.content_get_in_touch:hover {
    scale: 120%;
}

.content_cv {
    color: var(--tc);
    transition: scale, ease-in-out, 0.5s;
}

.content_cv:hover {
    scale: 120%;
}

.content_skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6vh;
}

.content_skills h4 {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 16px;
    padding-bottom: 5vh;
    color: var(--tc-lt);
    background: linear-gradient(to bottom, var(--tc), #424242);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content_skills_tab {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.content_skills_tab i {
    gap: 40px;
    font-size: 32px;
    color: var(--tc-lt);
    background: linear-gradient(to bottom, var(--tc), #424242);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content_projects {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    margin: 0 auto;
    color: var(--tc);
    gap: 30px;
}

.content_projects h1 {
    text-align: left;
}

.content_projects_portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    text-align: center;
}

.card {
    background: var(--card-bg);
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.7);
    color: var(--tc-dark);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 2fr;
    border-left: var(--ac) 2px solid;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 1);
    transform: rotatez(-2.5deg);
}

.card img {
    width: 100%;
    display: block;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin: 0 0 10px 0;
    color: var(--tc);
}

.card-content p {
    margin: 0;
    color: #b0b0b0;
}

.work_experience {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    margin: 0 auto;
    color: var(--tc);
    gap: 30px;
}

.job_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    background: var(--card-bg);
    padding: 20px;
    border-radius: 0 20px 20px 0px;
    border-left: 4px solid var(--ac);
    transition: transform 0.3s, box-shadow 0.3s;
}

.job_card:nth-child(2):hover,
.job_card:nth-child(4):hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 1);
    transform: rotatez(-2.5deg);
}

.job_card:nth-child(3):hover,
.job_card:nth-child(5):hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 1);
    transform: rotatez(2.5deg);
}

/*  
  .test {
    background: linear-gradient(45deg, orange, red);
    background-clip: text;   
    color: transparent; 
    display: inline-block; 
  }
*/

.content_contact {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 50px auto;
    color: var(--tc-lt);
    gap: 30px;
    background: var(--card-bg);
    align-items: center;
    height: fit-content;
    padding-top: 8em;
    padding-bottom: 0;
    margin-bottom: 0;
}
.inner_content_contact {
    max-width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inner_content_contact h3 {
    color: var(--tc);
}
.content_contact a {
    text-decoration: none;
    color: var(--tc-lt);
}

.content_social {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    color: var(--tc-lt);
}

.content_social a {
    color: var(--tc);
    font-size: 1.3em;
}

footer {
    text-align: center;
    padding: 40px 0;
}