* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --bg: #0f0f13; 
    --hd-bg: rgba(0,0,0,0.4);
    --tc: white;
    --tc-dark: black;
    --tc-lt: rgb(197, 197, 197);
    --ac: orange;
    --card-bg: #1b1b1f;
}

.darkmode {
    --bg: #adadb9; 
    --hd-bg: rgba(221, 214, 214, 0.4);
    --tc: black;
    --tc-dark: white;
    --tc-lt: rgb(65, 61, 61);
    --ac: blue;
    --card-bg: #89898d;
}

#Theme_switch {
    height: 50px;
    width: 50px;
    background: var(--hd-bg);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#Theme_switch svg{
    fill: var(--ac);
    background: var(--hd-bg);
}
#Theme_switch svg:first-child{
    display: none;
    background: var(--hd-bg);
}
.darkmode #Theme_switch svg:last-child{
    display: none;
    background: var(--hd-bg);
}
.darkmode #Theme_switch svg:first-child{
    display: block;
    background: var(--hd-bg);
}

html,
body {
    scrollbar-width: none;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

/* Body element */
body {
    background: var(--bg);
    max-width: 100vw;
}

.Header {
    display: flex;
    position: sticky;
    height: 7.5vh;
    background-color: var(--hd-bg);
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    z-index: 1;
    top: 0;
    backdrop-filter: blur(8px);
}

.logo {
    color: var(--ac) !important;
    display: flex;
    font-size: 150%;
    font-weight: 600;
    float: left;
    letter-spacing: 1px;
    transition: color 1s;
}

.logo:hover {
    color: var(--tc) !important;
}

.Header ul {
    display: flex;
    float: right;
    gap: 20px;
    margin-right: 1vw;
}

.Header li {
    list-style-type: none;
}

.Header a {
    text-decoration: none;
    color: var(--tc);
    transition: color 0.5s;
}

.Header a:hover {
    color: var(--ac);
}

.landing_page {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--tc);
}

.content_landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero_landing {
    display: flex;
    padding-top: 3vh;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    place-content: center;

}

.hero_sub_text {
    max-width: 30vw;
    color: var(--tc-lt);
    padding-top: 3vh;
    text-align: center;
}

@media (max-width: 600px) {
    .hero_sub_text {
        max-width: 70vw;
    }
}

.content_button {
    padding-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 600;
}

.content_button a {
    border: var(--ac) solid 2px;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}

.content_get_in_touch {
    background-color: var(--ac);
    color: var(--tc-dark);
    transition: scale, ease-in-out, 0.5s;
}

.content_get_in_touch:hover {
    scale: 110%;
}

.content_cv {
    border-width: 2px;
    color: var(--tc);
    transition: scale, ease-in-out, 0.5s;
}

.content_cv:hover {
    scale: 110%;
}

.content_skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6vh;
}

.content_skills h4 {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 16px;
    padding-bottom: 5vh;
    background: linear-gradient(to right, var(--tc), var(--card-bg));
    background-clip: text;
    color: transparent;
}

.content_skills_tab {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.content_skills_tab i {
    gap: 40px;
    font-size: 32px;
    color: var(--tc-lt);
    background: linear-gradient(to bottom, var(--tc), #424242);
    background-clip: text;
    color: transparent;
    transition: scale, ease-in-out, 0.5s;
}

.content_skills_tab i:hover {
    scale: 120%;
    color: var(--ac);
}

.content_projects {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    color: var(--tc);
    gap: 30px;
    margin: 0 auto;
}

.content_projects h2 {
    text-align: left;
    color: var(--ac);
}

.content_projects_portfolio {
    display: flex;
    flex-wrap: wrap;
    max-width: 50vw;
    gap: 30px;
    text-align: center;
    justify-content: center;
}

.kaart {
    background: var(--card-bg);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px 20px 10px 20px;
    max-width: 20vw;
    backdrop-filter: blur(8px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.7);
    color: var(--tc);
    transition: transform 0.7s, box-shadow 0.7s;
}

.kaart_background {
    background-image: linear-gradient(45deg, rgb(26, 25, 25), black);
    height: 15vh;
    width: 18vw;
    border-radius: 5px;
    text-align: left;
    align-self: center;
}

.kaart_content {
    color: var(--tc);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.tag {
    font-size: 14px;
    padding-bottom: 0.8vh;
}

.key a {
    text-decoration: none;
    color: var(--tc-lt);
}

.key {
    text-decoration: none;
    font-size: 13px;
    margin-top: 1px;
}

.kaart:nth-child(1):hover,
.kaart:nth-child(3):hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 1);
}

.kaart:nth-child(2):hover,
.kaart:nth-child(4):hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 1);
}

.kaart:nth-child(1),
.kaart:nth-child(3) {
    border-left: var(--ac) solid 4px;
    border-radius: 0px 10px 10px 0px;
}

.kaart:last-child:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 1);
}

.kaart:nth-child(2),
.kaart:nth-child(4) {
    border-right: var(--ac) solid 4px;
    border-radius: 10px 0 0 10px;
}

.kaart:last-child {
    border-bottom: var(--ac) solid 4px;
    border-radius: 10px 10px 0px 0px;
}


.work_experience {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    margin: 0 auto;
    color: var(--tc);
    gap: 30px;
}

.work_experience h2 {
    color: var(--ac);
}

.job_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    background: var(--card-bg);
    padding: 20px;
    border-radius: 0 20px 20px 0px;
    border-left: 4px solid var(--ac);
    transition: transform 0.3s, box-shadow 0.3s;
    min-width: 50vw;
}

.job_card:nth-child(2):hover,
.job_card:nth-child(4):hover,
.job_card:nth-child(6):hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 1);
}

.job_card:nth-child(3):hover,
.job_card:nth-child(5):hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 1);
}


.content_contact {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 50px auto;
    color: var(--tc-lt);
    gap: 30px;
    background: var(--card-bg);
    align-items: center;
    height: fit-content;
    padding-top: 8em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.inner_content_contact {
    max-width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inner_content_contact h3 {
    color: var(--tc);
}

.content_contact a {
    text-decoration: none;
    color: var(--tc-lt);
    transition: color ease-in-out 0.5s;
}

.content_social {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    color: var(--tc-lt);
    transition: color, ease-in-out, 0.5s;
}
.content_contact a:hover {
    color: var(--ac);
}

.content_social a {
    color: var(--tc);
    font-size: 1.3em;
    transition: scale, ease-in-out, 0.5s;
}

.content_social a:hover {
    scale: 120%;
    color: var(--ac);
}

footer {
    text-align: center;
    padding: 40px 0;
}