* {
    font-family:'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    border: 0;
    scrollbar-width: none;

}

/* Body element */

body {
    color: #fff;
    max-width: 100vw;
    overflow-x: hidden;
    font-size: 16px;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);


}


/* Header */

ul {

}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #fff;
}
body::-webkit-scrollbar {
    display: none;
}

header {
    background-color: transparent;
}

.heading {
    color: #fff;
    height: 10vh;
    background-color: transparent;
    align-content: center;
    text-align: center;
}

.heading ul {
    gap: 20px;
    list-style-type: none;
}

.heading li {
    display: inline;
}
.selection {
    background-color: #171717
}

/* Landing page */

.section-landing {
    font-size: 2em;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.landing {
    text-align: center;
    color: #fff; 


}

.text {
    padding-bottom: 10px;
    margin: 0 auto;
    width: 900px;
    margin-top: -10vh;
}
.orange {
    color: orange;
}
.btn {
    font-size: 0.5em;
    text-decoration: none;
    border: 4px solid white;
    border-radius: 8px;
    padding: 5px 10px;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s;
}
.btn:hover {
    opacity: 0.7;
}
.button {
    margin-bottom: 50px;
}

.social-media {
    margin: 0 auto;
}

.social-media ul{
    color: #fff;
    list-style-type: none;
    text-align: center;
}

.social-media li {
    display: inline;
}

