* {
    font-family:'Courier New', Courier, monospace;
    color: #fff;
    background-color: #313030;
}

head {
    background-color: #313030;
}

ul {
    gap: 20px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline;
}